#indexDiv{
    background-color: lightslategray;
    margin: auto;
    width: 600px;
    height: 200px;
    text-align: center;
}

#loginDiv{
    background-color: lightslategray;
    margin: auto;
    width: 600px;
    height: 200px;
    text-align: center;
}

.indexButton{
    color: black;
    border-radius: 15%;
}