#indexDiv{
    background-color: #333333;
    margin: auto;
    width: 600px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
}

#loginDiv{
    background-color: #333333;
    margin: auto;
    width: 600px;
    height: 200px;
    text-align: center;
    border-radius: 15px;
}

.indexButton{
    color: black;
    border-radius: 15%;
}

#captureImage{
    background-color: #333333;
    margin: auto;
    width: 600px;
    height: 930px;
    text-align: center;
    border-radius: 15px;
}

#mainSite{
    background-color: #333333;
    margin: auto;
    width: 600px;
    height: 300px;
    text-align: center;
    border-radius: 15px;
}

#deleteImage{
    background-color: #333333;
    margin: auto;
    width: 335px;
    height: 1000px;
    text-align: center;
    border-radius: 15px;
}

body{
    background-color: #F5F5F5;
    color: #F5F5F5;
}
